<?xml version="1.0"?>
<launch>
	<!--param name="robot_description" command="$(find xacro)/xacro.py '$(find motoman_sda5f_support)/urdf/sda5f_gazebo_with_kinect.xacro'" /-->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find motoman_sda5f_support)/urdf/sda5f_with_gripper.xacro'" />
</launch>
